#nav-title{

	    font-size: 367%;
font-family: 'Candal', sans-serif;

}

.nav-extended {
	margin-bottom: 5%;
}

#initial-buttons {


}

.btn {
	    margin-left: 1%;
	    margin-bottom: 2%;

}

img {
	border-radius: 3px;
}


p {
	opacity: 0.5;
    margin-bottom: 0%;

}

#gifsDisplay {
	padding: 4%;
	
}
